<div class="row is-table-row">
    <div class="col-md-8">
        <p>
            <strong>{{ trans("SOFORT::Template.orderErrorTitle") }}</strong>
        </p>
        <p class="small">
            <strong>
                <span class="text-muted">
                    {{ trans("SOFORT::Template.orderErrorMessage") }}
                </span>
            </strong>
        </p>
    </div>
</div>
<div class="row is-table-row">
    <div class="col-md-12">
        <a class="btn btn-primary btn-block" href="/checkout" role="button">
            {{ trans("Ceres::Template.generalCancel") }}
        </a>
    </div>
</div>